name: Viraindo Scraper

on:
  schedule:
    - cron: '0 2 * * 1'  # Runs at 2 AM every Monday (or any preferred time)
  workflow_dispatch:  # Allows manual triggering

jobs:
  scrape:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        enable-cache: true
        cache-dependency-glob: "uv.lock"


    - name: Run Viraindo scraper
      env:
        GCP_CREDENTIALS: ${{ secrets.GCP_CREDENTIALS }}
      run: uv run scraping/viraindo.py
